<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
        data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
        <div class="container-fluid"><a
                        class="navbar-brand d-flex float-left justify-content-start align-items-start align-content-start justify-content-xl-start"
                        href="/" style="color: #f07200;">Invente 2020</a><button data-toggle="collapse"
                        class="navbar-toggler float-right" data-target="#navcol-1"
                        style="background-color: rgb(240,112,0);"><span class="sr-only">Toggle
                                navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end"
                        id="navcol-1">
                        <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login"
                                        style="color: #f07200;">Log
                                        In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                                        style="background-color: #f07200;">Sign
                                        Up</a></span>
                        </ul>
                </div>
        </div>
</nav>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>