<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
        data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
        <div class="container-fluid"><a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png"
                                width="50" /></a><a href="/"><img src="/assets/img/invente_5.0_logo.png"
                                width="150" /></a><button data-toggle="collapse" class="navbar-toggler float-right"
                        data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span class="sr-only">Toggle
                                navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end"
                        id="navcol-1">
                        <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login"
                                        style="color: #f07200;">Log
                                        In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                                        style="background-color: #f07200;">Sign
                                        Up</a></span>
                </div>
        </div>
</nav>
<section class="unselectable">
        <h2 class="unselectable display-3 text-center d-flex d-xl-flex justify-content-center justify-content-xl-center"
                data-aos="fade-up" data-aos-duration="1000" style="color: rgb(240, 114, 0); margin-top: 0px">
                {{message}}&nbsp;
        </h2>
        <p class="unselectable text-center justify-content-center justify-content-xl-start" data-aos="fade-up"
                data-aos-duration="1000" style="
            color: rgb(255, 255, 255);
            font-family: Alef, sans-serif;
            margin-top: 30px;
          ">
                {{error.status}}
                <br />
                Press and drag to make wind<br />the lion will surely appreciate
                <a href="/">
                        Go to HOME</a>
        </p>
        <div style="
            margin-top: -130px;
            overflow:hidden;
          " id="world"></div>

</section>
<!-- partial -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js"></script>
<script src="/assets/js/404page.js"></script>