{{> messages}}
<br />
{{!-- <h1>Password Reset Form</h1>
<form id="PasswordResetForm" action="/auth/forgot-password" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit">
</form> --}}

<div class="login-dark"
    style="background-image: url(&quot;assets/img/logo.png&quot;);background-size: contain;background-repeat: no-repeat;background-position: center;background-color: #000000;background: background: rgb(240,114,0);">
    <form method="post" action="/auth/forgot-password"
        style="background-color: rgba(30,40,51,0.74);font-size: 16px;font-family: Roboto, sans-serif;">
        <h2 class="sr-only">Password Reset Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: #f07200;"></i></div>
        <div class="form-group"><input class="form-control" name="email" placeholder="Email" required></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                style="background-color: #f07200;">Change Password</button>
    </form>
</div>