{{> messages}}
<br />
<h1>Password Reset Form</h1>
<form id="PasswordResetForm" action="/auth/forgot-password" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit">
</form>