<!DOCTYPE html>
<html>

{{!-- <head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
</body> --}}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>invente</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/Elegant-Registration-Form.css">
  <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
  <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Button.css">
  <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background-color: rgb(0,0,0);">
  {{{body}}}
  <div class="footer-dark">
    <footer data-aos="fade-up" data-aos-duration="750" data-aos-once="true">
      <div class="container">
        <div class="row">
          <div class="col-md-6 item text" data-aos="fade-up-right" data-aos-duration="1000" data-aos-once="true">
            <img class="img-fluid" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
              src="/assets/img/logo.png" style="width: auto;max-width: 145px;max-height: 55px;height: auto;">
            <p data-aos="fade-up" data-aos-duration="1200" data-aos-once="true" style="margin-top: 17px;">
              Invente is a two-day techfest built around encouraging budding engineers to showcase their
              talents with unbridled enthusiasm.<br></p>
          </div>
          <div class="col item social" data-aos="fade-up-right" data-aos-duration="1000" data-aos-once="true">
            <h4 style="margin-bottom: 49px;">Get in touch !</h4><a data-aos="fade" data-aos-duration="1200"
              data-aos-once="true" href="https://www.facebook.com/ssninvente"><i
                class="icon ion-social-facebook"></i></a><a data-aos="fade-up" data-aos-duration="1400"
              data-aos-once="true"
              href="https://twitter.com/ssn_invente?lang=en#:~:text=SSN%20Invente%20(%40ssn_invente)%20%7C%20Twitter"><i
                class="icon ion-social-twitter"></i></a><a data-aos="fade-up" data-aos-duration="1600"
              data-aos-once="true" href="https://www.linkedin.com/school/ssn-college-of-engineering/"><i
                class="icon ion-social-linkedin-outline"></i></a>
            <a data-aos="fade-up" data-aos-duration="1800" data-aos-once="true"
              href="https://www.instagram.com/ssn_invente5.0/"><i class="icon ion-social-instagram"></i></a>
          </div>
        </div>
        <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="copyright">made by&nbsp;<a
            class="shadow-lg" href="www.google.com"
            style="color: rgb(230,109,0);font-weight: bold;filter: brightness(99%) contrast(104%);">#SSN_WEB_DEV_TEAM</a>©
          2020.&nbsp; All Rights Reserved.<br><br><br></p>
      </div>
    </footer>
  </div>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/bs-init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>

</html>

<!DOCTYPE html>