<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid"><a
            class="navbar-brand d-flex float-left justify-content-start align-items-start align-content-start justify-content-xl-start"
            href="/user/home" style="color: #f07200;">Invente 2020</a><button data-toggle="collapse"
            class="navbar-toggler float-right" data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span
                class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            <span class="ml-auto navbar-text actions">
                <a class="login" style="color: #f07200;">Welcome
                    {{ username }}</a>
                <a class="login" href="/event/register" style="color: #f07200;">Register For Events</a>
                <a class="login" href="/pay" style="color: #f07200;">Pay</a>
                <a class="btn btn-light action-button" role="button" href="/user/profile"
                    style="background-color: #f07200;">View Profile</a>
                <a class="btn btn-light action-button" role="button" href="/auth/logout"
                    style="background-color: #f07200;">Log Out</a>
            </span>
        </div>
    </div>
</nav>
{{> messages}}
<h1>PAYMENT PAGE</h1>
{{#if paid200}}
{{!-- Already Paid 200 and no more payment option available --}}
<p> You have Already Paid 200 </p>
{{^}}
{{#if paid100}}
{{!-- Already Paid 100 and can pay 100 more to get 4 more events --}}
<p> You Have Already Paid 100, So now you can pay 100 More to release to apply for 4 more events!</p>
<form id="PayForm" action="/pay/paynow" method="POST">
    <input type="hidden" name="amount" value="100" hidden>
    <input type="submit" value="PAY">
</form>
{{^}}
{{!-- Not Paid anything and can pay 100 or 200 depending on their choice --}}
<p> You Have Two Options to Pay 100 or 200 => </p>
<form id="PayForm" action="/pay/paynow" method="POST">
    <input type="radio" id="pay100" name="amount" value="100" required>
    <label for="pay100">₹100</label><br>
    <input type="radio" id="pay200" name="amount" value="200">
    <label for="pay200">₹200</label><br>
    <input type="submit" value="PAY">
</form>
{{/if}}
{{/if}}
{{#if paidWorkshop}}
<p> You have Already Paid for One Workshop! </p>
{{^}}
{{!-- <form id="PayWorkshopForm" action="/pay/workshop" method="POST">
    <input type="submit" value="PAY">
</form> --}}
Payment For Workshops is not yet started
{{/if}}