<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid">{{#if isLogged}}
        <a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png" width="50" /></a><a
            href="/user/home"><img src="/assets/img/invente_5.0_logo.png" width="150" /></a>
        {{^}}
        <a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png" width="50" /></a><a href="/"><img
                src="/assets/img/invente_5.0_logo.png" width="150" /></a>{{/if}}<button data-toggle="collapse"
            class="navbar-toggler float-right" data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span
                class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            {{#if isLogged}}
            <span class="ml-auto navbar-text actions">
                <a class="login" style="color: #f07200;">Welcome
                    {{ username }}</a>
                <a class="login" href="/event/register" style="color: #f07200;">Register For Events</a>
                <a class="login" href="/pay" style="color: #f07200;">Pay</a>
                <a class="btn btn-light action-button" role="button" href="/user/profile"
                    style="background-color: #f07200;">View Profile</a>
                <a class="btn btn-light action-button" role="button" href="/auth/logout"
                    style="background-color: #f07200;">Log Out</a>
            </span>
            {{^}}
            <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login" style="color: #f07200;">Log
                    In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                    style="background-color: #f07200;">Sign
                    Up</a></span>
            {{/if}}

        </div>
    </div>
</nav>
{{> messages}}
<h2 class="unselectable display-3 text-center d-flex d-xl-flex justify-content-center justify-content-xl-center"
    data-aos="fade-up" data-aos-duration="1000" style="color: rgb(240, 114, 0); margin-top: 0px">
    Payment&nbsp;
</h2>
<section>
    <div class="container" style="margin-top: 150px;">
        <div class="row" style="margin-bottom: 37px;">
            <div class="col" data-aos="fade-right" data-aos-duration="1800" data-aos-once="true">
                <p style="color: #f07200;"><strong>How to register for events:</strong><br>_Cash ah? Card ah? Check
                    ah?<br>Paytm pass!_<br>You will need to buy passes for all events on Paytm.<br><br>Totally, there
                    are passes for 7 types of events:<br>1. Technical Event, <br>2.
                    Non-Technical Event, <br>3. IoT Hands-on Workshop, <br>4. E-Vehicle Workshop, <br>5. Space Biology
                    Workshop, <br>6. Hackinfinity Hackathon, <br>7. BIM-REVIT Architecture
                    Workshop.<br><br><br><strong>The event registration process requires the following
                        steps:</strong><br>1)
                    First, sign up on the Invente website<br>2) Next you will need to pay for the event passes that you
                    require on Paytm<br>3) Upload your Paytm Reciept on the Invente website<br>4) Then come back to the
                    website and redeem the passes
                    by selecting your events of choice<br><br>For additional queries, contact registration
                    desk:<br><strong>Shrimathy-&nbsp;</strong>9444857077<br><strong>Mugesh-&nbsp;</strong>9655092102&nbsp;
                </p>
            </div>
            <div class="col" data-aos="fade-left" data-aos-duration="1800" data-aos-once="true"
                style="margin-right: 0px;margin-left: 0px;margin-top: 70px;margin-bottom: 60px;">
                <p style="color: #f07200;font-size: 16px;font-weight: bold;">to pay scan QR code&nbsp;</p><img
                    src="/assets/img/invente_paytm.jpeg" style="max-width: 300px;">
                <p style="color: #f07200;font-weight: bold;line-height: 48px;">Or</p><a
                    class="btn btn-primary btn-lg border rounded" role="button" data-bs-hover-animate="pulse"
                    target="blank" href="https://m.paytm.me/ssnce_ssninvente_web"
                    style="color: #000000;background-color: #f07200;">Click here
                    !</a>
            </div>
        </div>
        <div class="row" style="margin-bottom: 37px;">
            <div class="col text-center" data-aos="fade-right" data-aos-duration="1800" data-aos-once="true">
                <p style="color: #f07200;"><strong>Rules for passes are as follows:</strong><br>1) No refund<br>2) No
                    cross usage of passes between different types of events<br>3) No exchange/transferring of
                    passes<br>4) After buying your pass on Paytm, go to the Invente website
                    and redeem the pass only for the corresponding type of events<br>5) Passes are valid only for
                    Invente 5.0<br>6) Passes cannot be sold to another person<br>7) Each type of pass needs
                    to be bought separately on the Paytm portal. Once you finish
                    buying one type of pass, you will have to repeat the procedure
                    again for retrieving another type.<br><br /></p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 37px;">
            <div class="col text-center" data-aos="fade-right" data-aos-duration="1800" data-aos-once="true">
                <p style="color: #f07200;"><strong>The event registration process requires the following
                        steps:</strong><br />1) First, sign up on the Invente website<br />
                    2) Next you will need to pay for the event passes that you require on Paytm<br />
                    3) Wait for the payment verification<br />
                    4) Then come back to the website and redeem the passes by selecting your events of
                    choice<br /><br /></p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 37px;">
            <div class="col text-center" data-aos="fade-right" data-aos-duration="1800" data-aos-once="true">
                <p style="color: #f07200;"><strong>Upload Your <a target="blank"
                            href="https://forms.gle/znemEPcqHup8h9kL9"> Pass Here
                        </a> in the form</strong><br />

                    {{!-- <iframe
                        src="https://docs.google.com/forms/d/e/1FAIpQLSeqbgtzHbCYBCm1mR60bWVEiCTI6uttWc5HvVZfP46ceWoHTw/viewform?embedded=true"
                        width="640" height="350" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    --}}
                </p>
                <a class="btn btn-light action-button" role="button" href="https://forms.gle/znemEPcqHup8h9kL9"
                    style="background-color: #f07200; color: white;" target="blank">Upload Reciept</a>
            </div>
        </div>
    </div>
</section>