<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
    data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
    <div class="container-fluid"><a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png"
                width="50" /></a><a href="/"><img src="/assets/img/invente_5.0_logo.png" width="150" /></a><button
            data-toggle="collapse" class="navbar-toggler float-right" data-target="#navcol-1"
            style="background-color: rgb(240,112,0);"><span class="sr-only">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end" id="navcol-1">
            <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login" style="color: #f07200;">Log
                    In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                    style="background-color: #f07200;">Sign
                    Up</a></span>
        </div>
    </div>
</nav>
{{> messages}}
<div class="login-dark"
    style="background-image: url(&quot;assets/img/logo.png&quot;);background-size: contain;background-repeat: no-repeat;background-position: center;background-color: #000000;background: background: rgb(240,114,0);">
    <form method="post" action="/auth/head/reset"
        style="background-color: rgba(30,40,51,0.74);font-size: 16px;font-family: Roboto, sans-serif;">
        <h2 class="sr-only">Reset New Password Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: #f07200;"></i></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"
                required></div>
        <div class="form-group"><input class="form-control" type="password" name="passwordRepeat"
                placeholder="Confirm Password" required>
        </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                style="background-color: #f07200;">Submit Password</button></div>
    </form>
</div>