{{> messages}}
<br />
{{!-- <h1>New Password Form</h1>
<form id="newPasswordForm" action="/auth/reset" method="POST">
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="passwordRepeat" placeholder="Confirm Password" required>
    <input type="submit">
</form> --}}

<div class="login-dark"
    style="background-image: url(&quot;assets/img/logo.png&quot;);background-size: contain;background-repeat: no-repeat;background-position: center;background-color: #000000;background: background: rgb(240,114,0);">
    <form method="post" action="/auth/reset"
        style="background-color: rgba(30,40,51,0.74);font-size: 16px;font-family: Roboto, sans-serif;">
        <h2 class="sr-only">Reset New Password Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: #f07200;"></i></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"
                required></div>
        <div class="form-group"><input class="form-control" type="password" name="passwordRepeat"
                placeholder="Confirm Password" required>
        </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                style="background-color: #f07200;">Submit Password</button>
    </form>
</div>