{{> messages}}
<br />
<h1>New Password Form</h1>
<form id="newPasswordForm" action="/auth/super/reset" method="POST">
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="passwordRepeat" placeholder="Confirm Password" required>
    <input type="submit">
</form>