<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" data-aos="fade-down"
        data-aos-duration="1000" data-aos-once="true" style="background-color:  rgba(0,0,0,0.92);margin-top: 0px;">
        <div class="container-fluid"><a href="https://www.ssn.edu.in/"><img src="/assets/img/Untitled-1.png"
                                width="50" /></a><a href="/"><img src="/assets/img/invente_5.0_logo.png"
                                width="150" /></a><button data-toggle="collapse" class="navbar-toggler float-right"
                        data-target="#navcol-1" style="background-color: rgb(240,112,0);"><span class="sr-only">Toggle
                                navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-right float-right d-xl-flex justify-content-xl-end"
                        id="navcol-1">
                        <span class="ml-auto navbar-text actions"> <a class="login" href="/auth/login"
                                        style="color: #f07200;">Log
                                        In</a><a class="btn btn-light action-button" role="button" href="/auth/signup"
                                        style="background-color: #f07200;">Sign
                                        Up</a></span>
                </div>
        </div>
</nav>
{{> messages }}
<div class="register-photo" style="background-color: rgb(0,0,0);">
        <div class="form-container">
                <form method="post" action="/auth/register" style="background-color: rgba(0,0,0,0.79);">
                        <h2 class="text-center" style="color: #f07200;">Registration:<br></h2>
                        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"
                                        style="color: #f07200;" required=""></div>
                        <div class="form-group"><input class="form-control" type="email" name="email"
                                        placeholder="Email" style="color: #f07200;" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" name="college"
                                        placeholder="College" style="color: #f07200;" required=""></div>
                        <div class="form-group"><input class="form-control" type="text" name="regno"
                                        style="color: #f07200;" required=""
                                        placeholder="your unique registration number provided by your college or any govt ID">&nbsp;
                                * Please
                                enter the
                                same Unique ID while paying and submitting payment form
                        </div>
                        <div class="form-group"><input class="form-control" type="text" name="dept"
                                        style="color: #f07200;" required="" placeholder="Department"> </div>
                        <div class="form-group"><input class="form-control-plaintext d-inline" type="text" readonly=""
                                        style="color: #f07200;" value="Year">
                                <div class="form-check form-check-inline"><input class="form-check-input" name="year"
                                                value="1st Year" type="radio" id="formCheck-1"><label
                                                class="form-check-label" for="formCheck-1" style="color: #f07200;">1st
                                                year&nbsp;</label></div>
                                <div class="form-check form-check-inline"><input name="year" value="2nd Year"
                                                class="form-check-input" type="radio" id="formCheck-1"><label
                                                class="form-check-label" for="formCheck-1" style="color: #f07200;">2nd
                                                year&nbsp;</label></div>
                                <div class="form-check form-check-inline"><input name="year" value="3rd Year"
                                                class="form-check-input" type="radio" id="formCheck-1"><label
                                                class="form-check-label" for="formCheck-1" style="color: #f07200;">3rd
                                                year&nbsp;</label></div>
                                <div class="form-check form-check-inline"><input name="year" value="4th Year"
                                                class="form-check-input" type="radio" id="formCheck-1"><label
                                                class="form-check-label" for="formCheck-1" style="color: #f07200;">4th
                                                year&nbsp;</label></div>
                        </div>
                        <div class="form-group"><input class="form-control" type="number" name="phno" maxlength="10"
                                        placeholder="Phone Number"></div>
                        <div class="form-group"><input class="form-control" type="password" name="password"
                                        placeholder="Password" style="color: #f07200;" required=""></div>
                        <div class="form-group"><input class="form-control" type="password" name="passwordRepeat"
                                        placeholder="Password (repeat)" style="color: #f07200;" required=""></div>
                        <div class="form-group">
                                <div class="form-check"><label class="form-check-label" style="color: #f07200;"><input
                                                        class="form-check-input" type="checkbox" required>I agree to the
                                                license
                                                terms.</label></div>
                        </div>
                        <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                                        style="background-color: #f07200;">Sign Up</button></div><a class="already"
                                href="/auth/login" style="color: #f07200;">You already have an account? Login here.</a>
                </form>
        </div>
</div>