{{> messages}}
<center>
    <h1>Please do not refresh this page...</h1>
</center>
<form method="post" action="/pay/update" name="f1">
</form>
<script type="text/javascript">document.f1.submit();
    console.log(params);</script>